.services {
  padding: 4rem 2rem;
  background-color: #b5a8d212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.servicesContainer {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}
.servicesTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 50px;
  margin-left: 120px;
  color: #333;
}

/* لو اللغة RTL زي العربي */
html[dir="rtl"] .servicesTitle {
  margin-left: 0;
  margin-right: 120px;
  text-align: right;
  flex-direction: row-reverse;
}

.leftContainer,
.rightContainer {
  justify-content: start;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightContainer .containerImg .image {
  width: 250px;
  align-items: center;
}
.content {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important ; 
  position: relative;
  padding-left: 2rem;
  padding: 5px 10px 10px 10px;

}

.content:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.content::before {
  content: '';
  position: absolute;
  left: 2.7rem;
  top: 2.5rem;
  bottom: -1.5rem;
  width: 2px;
  background-image: linear-gradient(to bottom, #6e49cb 33%, transparent 33%);
  background-size: 2px 10px;
  background-repeat: repeat-y;
}

.content:last-child::before {
  display: none;
}

.icon {
  font-size: 1.7rem;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  color: #5c4b99;
  min-width: 40px;
  position: relative;
}

.titleContent {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}

.titleContent p {
  margin-top: 0.4rem;
  font-size: 0.95rem;
  color: #666;
}

@media (max-width: 768px) {
  .servicesContainer {
    flex-direction: column;
    align-items: center;
  }
 

  .leftContainer,
  .rightContainer {
    width: 100%;
    align-items: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    text-align: center;
    position: relative;
  }

  .content::before {
    display: none;
  }

  .icon {
    margin-bottom: 10px;
  }

  .titleContent {
    align-items: center;
  }

  .servicesTitle {
    margin: 0 auto 30px auto;
    font-size: 24px;
    justify-content: center;
    text-align: center;
  }

  html[dir="rtl"] .servicesTitle {
    margin-right: 0;
  }
}
