.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
  background-color: #fdf7f0;
}

.product-list .product-card {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: #fff4e8;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
  transition: transform 0.3s ease;
}

.product-list .product-card:hover {
  transform: translateY(-5px);
}

.product-list .image-container {
  position: absolute;
  bottom: 0px;
  right: -40px;
  overflow: hidden;
}

.product-list .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-list .product-info {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}

.product-list .product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #B58A4D;
}

.product-list .product-topic {
  font-size: 14px;
  color: #777;
}
.product-list  .Button {
  margin-top: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

.product-list  .Button .id {
  border-radius: 10px;
  padding: 10px 25px;
  border: 2px solid #b58a4d;
  background-color: #FFFFFF;
  color: black;
  font-size: 20px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease;
}

.product-list  .Button .id:hover {
  background-color: #b58a4d;
  color: white;
  transition: 1s;
}

@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .product-list .product-card {
    width: 90%;
    height: auto;
    padding-bottom: 100px;
  }

  .product-list .image-container {
    position: static;
    margin-top: 20px;
    width: 100%;
    height: 200px;
  }

  .product-list .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
  }

  .product-list .product-info {
    position: static;
    padding: 10px 0;
    text-align: center;
  }

  .product-list .Button {
    justify-content: center;
    margin-top: 20px;
  }

  .product-list .Button .id {
    width: 100%;
    font-size: 18px;
  }
}
