.banner {
  width: 100%;
  background-color: rgba(181, 168, 210, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 20px 0;
  overflow: hidden;
  position: relative;
}

.banner .banner-container {
  width: 90%;
  overflow: hidden;
  max-width: 1200px;
}

.banner .banner-container .banner-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 11;
}

.banner .banner-container .banner-content .banner-text {
  flex: 1;
  min-width: 300px;
  color: #333333;
}
.banner .banner-container .banner-content .banner-text .banner-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  width: 100%;
  color: #333333;
  font-weight: 400;
  line-height: 100%;
  vertical-align: middle;
  font-size: 60px;
}

.banner .banner-container .banner-content .highlight {
  color: #7872b5;
}

.banner .banner-container .banner-content .banner-text .banner-subtext {
  margin-bottom: 30px;
  color: #888888;
  width: 90%;
  line-height: 40px;
  vertical-align: middle;
  font-size: 24px;
}

.banner .banner-container .banner-content .banner-text .banner-buttons {
  margin-top: 20px;
}

.banner .banner-container .banner-button, 
.banner .banner-container .banner-button-mobile .banner-button {
  background-color: #7872b5;
  color: #fff;
  padding: 12px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}


.banner .banner-container .banner-button, 
.banner .banner-container .banner-button-mobile .banner-button {
  color: #fff;
  padding: 12px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #7872b5;
  z-index: 1;
}
.banner .banner-container .banner-button::before, 
.banner .banner-container .banner-button-mobile .banner-button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #5d52b5;
  transition: top 0.3s ease, left 0.3s ease;
}

.banner .banner-container .banner-button:hover::before, 
.banner .banner-container .banner-button-mobile .banner-button:hover::before {
  top: 0;
  left: 0;
  z-index: -1;
}

.banner .banner-container .banner-button span {
  position: relative;
}


.banner .banner-container .banner-content .banner-image {
  flex: 1;
  min-width: 300px;
  text-align: end;
  transition: 0.5s ease-in-out; 
}
.banner .banner-container .banner-content .banner-image img:hover {
transform: scale(1.2);
}

.banner .banner-container .banner-content .banner-image img {
  max-width: 100%;
  transition: 0.5s ease-in-out; 
  height: auto;
}

.banner .banner-container .banner-button-mobile {
  display: none;
  margin-top: 20px;
  text-align: center;
}
.banner .triangle {
  width: 0px;
  height: 0;
  border-left: 457.5px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 390px solid #7872b5;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -11;
  overflow: hidden;
}
.banner .rotated-box {
  width: 100px;
  height: 100px;
  background: #7872b50d;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 90px;
  transform: rotate(41.46deg);
  z-index: -1;
}
.banner .rotated-box2 {
  width: 70px;
  height: 70px;
  background: #7872b50d;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  left: 650px;
  transform: rotate(41.46deg);
  z-index: 1;
}
.banner .rotated-box3 {
  width: 50px;
  height: 50px;
  background: #7872b50d;
  border-radius: 10px;
  position: absolute;
  bottom: 60px;
  left: 600px;
  transform: rotate(41.46deg);
  z-index: 1;
}
.banner .rotated-box4 {
  width: 70px;
  height: 70px;
  background: #7872b50d;
  border-radius: 10px;
  position: absolute;
  bottom: 250px;
  left: 100px;
  transform: rotate(41.46deg);
  z-index: 1;
}
.banner .rotated-box5 {
  width: 50px;
  height: 50px;
  background: #7872b50d;
  border-radius: 10px;
  position: absolute;
  bottom: 255px;
  left: 50px;
  transform: rotate(41.46deg);
  z-index: 1;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .banner .banner-container .banner-content {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner-container .banner-content .banner-text .banner-buttons {
    display: none;
  }
  .banner .banner-container .banner-content .banner-text .banner-heading,
  .banner .banner-container .banner-content .banner-text .banner-subtext {
    width: 100%;
  }

  .banner .banner-container .banner-button-mobile {
    display: block;
  }
}
